@model Employee
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 ">
            <form asp-area="admin" asp-controller="ProductsCategory" asp-action="Create" method="post" enctype="multipart/form-data">

                <div class="mb-3">
                    <label asp-for="@Model.ImageFile" class="form-label">Image</label>
                    <input class="form-control" asp-for="@Model.ImageFile">
                    <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label asp-for="@Model.FullName" class="form-label">FUllname</label>
                    <input class="form-control" asp-for="@Model.FullName">
                    <span asp-validation-for="@Model.FullName" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Email" class="form-label">Email</label>
                    <input class="form-control" asp-for="@Model.Email">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Age" class="form-label">Age</label>
                    <input class="form-control" asp-for="@Model.Age">
                    <span asp-validation-for="@Model.Age" class="text-danger"></span>

                </div>


                <div class="mb-3">
                    <label class="form-label">PositionId</label>
                    <select class="form-control" asp-for="@Model.PositionId" asp-items="@(new SelectList(ViewBag.Positions,"Id","Name"))">
                        <option value="value">Select Position</option>
                    </select>

                </div>








                <button type="submit" class="btn btn-primary">Create</button>
            </form>

        </div>

    </div>
</div>

